.button {
	padding: .625rem 1em;
	display: flex;
	align-items: center;
	border: none;
	background-color: $primary-blue;
	color: $color-white;
	cursor: pointer;
}

.button:hover {
	background-color: $primary-blue-lighter;
}

.button:active {
	background-color: $primary-blue;
}

.button.button--radius-left {
	border-top-left-radius: 9999px;
	border-bottom-left-radius: 9999px;
}

.button img {
	height: auto;
	width: 1em;
	margin-left: 1em;
}